*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    margin: 0 auto;
    max-width: 600px;
}

.ccordion-item {
    position: relative;
    margin-bottom: 20px;
}

.ccordion-item__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.ccordion-item__trigger {
    display: block;
    padding: 20px;
    border: 1px solid black;
}

.ccordion-item__content {
    padding: 20px;
    border: 1px solid black;
    border-top: none;
    display: none;
}

.ccordion-item__input:checked ~ .ccordion-item__content {
    display: block;
}